.FormularioPurchase {
    margin: 10px 25px;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.form-row {
    display: grid;
    grid-template-columns: 22% 74%;
    gap: 20px;
    /* Espacio entre columnas */
}

.purchase {
    display: flex;
    flex-direction: column;
}

.form-column {
    padding: 10px 15px;
    margin-left: 10px;
    border: 1px #111111 solid;
    border-radius: 5px;
    display: flex;
    height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;

}

.centrado {
    width: 100%;
    display: flex;
    flex-direction: column;

}


.footer {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 20px;
    flex-shrink: 0; // Evita que el footer se encoja
}

.button-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: auto;
    /* Para que los botones se ajusten al fondo */
}

th,
td {
    text-align: center;
}

th {
    margin-right: 10px;
}

/* Ocultar los botones de incremento/decremento en todos los navegadores */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}